<div class="page-header">
  <h1>Todas las denuncias  disponibles</h1>
</div>
  <div class="denuncias">
  <hr>
     <p>
     	<h1>datos del  denunciado user </h1>
        <strong>
          <h6> nombre commpleto: <%= @denuncia.razon%></h6>
          <h6>email: <%= @denuncia.idea.user.email %></h6>
        </strong>
      </p>
      <p>
     	<h1>datos del  denunciante user </h1>
        <strong>
          <h6> nombre commpleto: <%= @denuncia.user.nombre_completo %></h6>
          <h6>email: <%= @denuncia.user.email %></h6>
        </strong>
      </p>
      <p>
     	<h1>Razon de la denuncia </h1>
        <strong>
          <h6><%= @denuncia.razon %></h6>
        </strong>
      </p>
      <p>
     	<h1>estado de la idea  denunciada </h1>
        <strong>
          <h6><%= @denuncia.idea.estado.descripcion %></h6>
        </strong>
      </p>
      <p>
      <h1>datos de la empresa  </h1>
        <strong>
          <h6><%= @denuncia.user.grado.descripcion %></h6>
        </strong>
      </p> 
      <p>
        <%= link_to " dar de baja la denuncia", dar_de_baja_path(@denuncia.idea_id)%>
      </p>
  </div>
  <hr>
<hr>

