<div class="page-header">
  <h1>Todas los estados disponibles </h1>
</div>

<div class="resultados_estado">
  <% @estado.each do |estado| %>
    <div class="estado">
       <h4>
          <strong>
            <%=estado.id%>:<%= estado.descripcion %>
          </strong>
          (
          <%= link_to 'Editar', editar_estado_path(estado.id) %>
          | 
          <%= link_to 'Eliminar', eliminar_estado_path(estado.id), method: :delete, data: { confirm: '¿Estas seguro?' } %>
          )
      </h4>
      <br>
    </div>
  <% end %>
  <hr>
</div>
<br>
<%= link_to 'crear nuevo estado',estado_guardar_path %>

