<div class="formulario">
  <%= simple_form_for(@idea, url: guardar_path(), html: {class: "form-inline"}) do |f| %>
    <% if @idea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
        <ul>
        <% @idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group has-success has-feedback">
      <div class="field">
        <%= f.input_field :titulo ,placeholder: 'Titulo de la idea'%>
      </div>
      <div class="field">
        <%= f.input_field :contenido , :size=>"50x10", placeholder: 'Descripcion detallada de la idea ...'%>
      </div>
      <div class="form-actions">
        <%= f.button :submit  ,'Guardar ', url: '?hola'%>
      </div>
    </div>
  <% end %>
</div>