<div class="page-header">
  <h1>Todas mis adquiridas</h1>
</div>
 
<div class="resultados_aquiridos">
  <% @aquiridos.each do |aquiridos| %>
    <div class="aquiridos">
      <hr>
      <h4>
        <strong>
          <%= "Idea adquirida del usuario: " + aquiridos.idea.user.nombre_completo %>
        </strong>
      </h4>
      <br>
      <strong>
        <%= aquiridos.idea.titulo %>
      </strong>
      <p>
        <h6>
          <%= aquiridos.idea.contenido %>
        </h6>
      </p>
      <p>
        <div class="mensaje">
          <%= link_to "Mensajeria", mensaje_path(aquiridos.idea.id)%>
        </div>
        <div class="archivo">
          <hr>
          <% @datos=aquiridos.id%> 
          <%= render "listar_archivos"%>
          <hr>
        </div>
      </p>
    <hr>
    </div>
  <% end %>
</div>