<div class="page-header">
  <h1>Todas mis ideas  <%= params['tipo'] %> </h1>
</div>

<div class="resultados_postulacion">
  <% @Postular.each do |postulacion| %>
    <div class="postulacion">
    <hr>
      <%if !postulacion.id.nil?%>
        <% if @titulo_idea != postulacion.titulo %>
          <hr>
          <p> 
            Titulo de la idea :
            <%= postulacion.titulo  %>
          </p>
        <%else%>
          <br>
          <p>
           -------------------------------------------
          </p>
          <br>    
        <%end%>
      <p>
        Oferta ofrecida por la idea:
        <%= postulacion.oferta %>
      <br>
        Oferta ofrecida por :
        <%= link_to postulacion.user.nombre_completo , perfil_path(postulacion.user_id)%>
      </p>
      <div class="link">
        (
        <%= link_to "postulacion hace  "+ time_ago_in_words(postulacion.created_at)%>
        |
        <%= link_to "aceptar oferta", aceptar_postulacion_path(postulacion.id_ideas, postulacion.user_id)%>
        )
        <% @titulo_idea = postulacion.titulo %> 
      </div>
      <%else%> 
      <%end%>
    <hr>
    </div> 
  <% end %> 
</div>