        <fieldset>
          <div class="formulario">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-inline"}) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-horizontal">
                    <div class="col-md-6">
                    <%= f.input :email,label: 'Email de la empresa', required: true, autofocus: true ,placeholder: 'RedRabbit@xxx.xxx',error_html: { id: "email", class: "help-block"}  %>
                    <%= f.input :password,label: 'Password', required: true ,placeholder: 'Contraseña'%>
                    <%= f.input :password_confirmation,label: 'password confirmation', required: true,placeholder: 'Ingresar contraseña nuevamente' %>
                    <%= f.input  :nombre_empresa,label: 'Nombre de la empresa', required: true,placeholder: 'Nombre de la empresa' %>
                    <%= f.input  :rut_empresa,label: 'Rut de la empresa', required: true,placeholder: 'Rut de la empresa' %>
                    </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="col-md-6">
                      <%= f.input  :email_persona,label: 'Email de la persona', required: true,placeholder: 'Email de la persona' %>
                      <%= f.input  :apellidos_persona,label: 'Apellidos de la persona', required: true,placeholder: 'Apellidos de la persona' %>
                      <%= f.input  :nombres_persona, label: 'Nombre de la persona',required: true,placeholder: 'Nombres de la persona' %>
                      <%= f.input  :rut_persona,label: 'Rut de la persona ', required: true,placeholder: 'Rut de la persona' %>
                      </div>
                    </div>
                    <div class="form-horizontal">
                    <% @grado=Grado.all %>
                    <%= f.input :grado_id,:collection => @grado,:label_method => :descripcion,:value_method => :id,:label => "tipo de empresa" ,:include_blank => false %> 
                    </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Guardar", class:"btn btn-success  btn-block active" %>
                  </div>
                <% end %>
          </div>
        </fieldset>
<script type="text/javascript">
$(document).ready(function(){
 $("span").removeClass("help-inline");
 $("span").addClass("help-block");
 $("span").text( "no puede estar en blanco." );

}); 
    
</script>
<style type="text/css">
  .help-block{color: black;}
  .alert{text-align: center;}
  #user_email{background: red;}
</style>