
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <div class="span4">
        <%= simple_form_for(resource, as: resource_name, url: login_error_path, html: {class:"well"}) do |f| %>
        <fieldset>
          <legend>Iniciar Sesi칩n</legend>   
            <%= f.input :email, autofocus: true , label: "Email de la empresa" %>
            <%= f.input :password, autocomplete: "off", label: "Contrase침a"  %>
          <% if devise_mapping.rememberable? -%>
            <div>
              <%= f.input :remember_me,  inline_label: 'Recordar usuario y contrase침a' ,as: :boolean %>
            </div>
          <% end -%>
          <div class="actions">
          <br>
            <%= f.button :submit ,"Iniciar Sesi칩n" %>
          </div>
        </fieldset>
        <% end %>
      <%= render "users/shared/links" %>
      </div>
      <div class="col-md-2"></div>
    </div>
  <div class="col-md-2"></div>
</div>