
<div class="row">
  <div class="span4">
    <%= simple_form_for(resource, as: resource_name, url: login_error_path, html: {class:"well"}) do |f| %>
    <fieldset>
      <legend>Iniciar Sesión</legend>   
        <%= f.input :email, autofocus: true , label: "Email de la empresa" %>
        <%= f.input :password, autocomplete: "off", label: "Contraseña"  %>
      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.input :remember_me,  inline_label: 'Yes, remember me' ,as: :boolean %>
        </div>
      <% end -%>
     
      <div class="actions">
      <br>
        <%= f.button :submit ,"Iniciar Sesión" %>
      </div>
    </fieldset>
    <% end %>
  <%= render "users/shared/links" %>
  </div>
    <div class="span8">
    <h2>Bienvenido al  gozar , tus datos  son vendidos</h2>
    </div>
</div>