<div class="page-header">
  <h1>Todas las apelaciones  disponibles</h1>
</div>

<div id="resultados"> 
</div>

<div class="formulario_busqueda_apelacion">
  <%= form_tag "/search/apelar", method: :get, remote: true, id: "search-form" do%>
    <%= text_field_tag :keyword, nil, placeholder: "Buscar apelacion" %>
    <%= content_tag :button, type: :submit do %>
      Buscar
    <%end%>
  <%end%>
</div>

<div class="resultado_apelar">
  <% @apelar.each do |apelar| %>
    <div class="apelars">
      <hr>
      <p>
        <h2><%= " Titulo de la idea apelada: "+ apelar.denuncia.idea.titulo%></h2>
        <h3>Razon de la apelacion</h3>
        <strong>
          <h4><%= apelar.razon %></h4>
        </strong>
      </p>
      <p>
       	<h3>Razon de la denuncia </h3>
        <strong>
            <h4><%= apelar.denuncia.razon%></h4>
        </strong>
      </p>
      <div class="navegacion">
        <%= link_to " apelacion  fue hecha hace "+ time_ago_in_words(apelar.created_at), ver_apelelacion_path(apelar.id)  %>
      </div>
      <hr>
    </div>
  <% end %>
</div>