
<div class="page-header">
  <h1>
    Detalles de la apelación
  </h1>
</div>

<div class="denuncias">
  <hr>
  <p>
    <h2>
      <u>Datos del  apelación</u>  
    </h2>
    <strong>
      <h3><u> Razón de la apelacion: </u><%= @apelar.razon%></h3>   
    </strong>
  </p>
  <p>
    <h3> <u>Datos del user denunciado</u> </h3>
    <strong>
      <h5> nombre commpleto: <%= @apelar.denuncia.razon%></h5>
      <h5>email: <%= @apelar.denuncia.idea.user.email %></h5>
    </strong>
  </p>
  <p>
    <h3> <u>Datos del user denunciante</u> </h3>
    <strong>
      <h6> nombre commpleto: <%= @apelar.denuncia.user.nombre_completo %></h6>
      <h6>email: <%= @apelar.denuncia.user.email %></h6>
    </strong>
  </p>
  <p>
    <h3> <u>Razon de la denuncia</u> </h3>
    <strong>
      <h5><%= @apelar.denuncia.razon %></h5>
    </strong>
  </p>
  <p>
    <h3> <u>Estado de la idea  denunciada</u> </h3>
    <strong>
      <h5><%= @apelar.denuncia.idea.estado.descripcion %></h5>
    </strong>
  </p>
  <p>
    <h3> <u>Datos de la empresa</u> </h3>
    <strong>
      <h5><%= @apelar.denuncia.user.grado.descripcion %></h5>
    </strong>
  </p> 
  <div class="link_apelacion">
    <p>
      (
      <%= link_to " aceptar la apelacion", apelar_idea_path(@apelar.denuncia.idea_id, @apelar.denuncia.id, @apelar.id) %>   
      |
      <%= link_to " rechazar la apelacion y eliminar idea", rechasar_apelacion_path(@apelar.denuncia.idea_id, @apelar.denuncia.id, @apelar.id)%>
      )
    </p>
  </div>
  <hr>
</div>


