<h1>bienvenido <%=@current_user.tipo.descripcion %> : <%= @current_user.nombre_completo %> </h1>
<% case @current_user.tipo_id %>
<% when 2 %>
	<p>Es hora de  trabajar  hay debuncias <%= @denuncia %> activas </p>
	<p>Es hora de  trabajar  hay apelacion <%= @apelacion %> activas </p>
<% when 3 %>
	<p>
		Hay un total de  usuarios <%=@user %>activo
		(
		<%= link_to 'crear nuevo usuario',"#" %>
		|
		<%= link_to 'ver usuarios',"#" %>
		)
	</p> 
	<p>
		Hay un total de  ideas <%=@ideas%> activa
		(
		<%= link_to 'ver idea',index_path %>
		)
	</p> 
	<p>
		Hay un total de  moderadores <%=@moderadores %> activo
		(
		<%= link_to 'crear nuevo moderadores',"#" %>
		|
		<%= link_to 'ver moderadores',"#" %>
		)
	</p> 
	<p>
		Hay un total de  administradores <%=@administradores%> activa
		(
		<%= link_to 'crear nuevo administradores',"#" %>
		|
		<%= link_to 'ver administradores',"#" %>
		)
	</p>
	<p>
		Hay un total de  estado <%=@estado %> activo
		(
		<%= link_to 'crear nuevo estado',estado_guardar_path%>
		|
		<%= link_to 'ver estado',estado_path %>
		)
	</p>
	<p>
		Hay un total de  tipo <%=@tipo%> activa 
		(
		<%= link_to 'crear nuevo tipo',tipo_guardar_path %>
		|
		<%= link_to 'ver tipo',tipo_path %>
		)
	</p>	
	<p>
		Hay un total de  grado <%=@grado %> activo
		(
		<%= link_to 'crear nuevo grado',grados_guardar_path%>
		|
		<%= link_to 'ver grado', grado_path %>
		)
	</p> 
<%end %>

