 
<%= simple_form_for(@grado, url: ver_grado_path(@grado), html: {class: "form-inline"}) do |f| %>
  <% if @grado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grado.errors.count, "error") %> prohibited this grado from being saved:</h2>

      <ul>
      <% @grado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group has-success has-feedback">
  <div class="field">
    <%= f.input_field :descripcion ,placeholder: 'nombre'%>
  </div>
 
  <div class="form-actions">
    <%= f.button :submit  ,'Guardar '%>
  </div>
  </div>
<% end %>
