<br><br><br><br> <br>
<div id="index">
	<div class="container" >
		<div class ="row">
			 <div class="col-xs-6 col-xs-offset-5  col-sm-6 col-sm-offset-5  col-md-6 col-md-offset-5  col-lg-6 col-lg-offset-5 ">
				<h4>
					Registrate <br><b>¡ES GRATIS!</b>
				</h4>
			</div>
		</div>
		<hr>
		<div class="row">
	        <%= form_for @usuario do |f| %>       	
	            	<% @usuario.errors.full_messages.each do |message| %>
		            	<div class="alert alert-danger">
		        			<p class="col-xs-offset-5  col-sm-offset-5 col-md-offset-5 col-lg-offset-5"><%=  message %></p>
		        		</div>
	        		<% end %>
	            <table class="col-xs-offset-5  col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
	            	<tr>
	                 	<td>
	                 		<%= f.text_field :nombreEmpresa, :required => "required" ,:autofocus => true ,placeholder:"Nombre de la Empresa"%>
	                 	</td>
	            	</tr>
	            	<tr>
	                 	<td>
	                 		<%= f.email_field :emailEmpresa , :required => "required" ,placeholder: 'Email de la empresa' %>
	                 	</td>
	                </tr>
	                <tr>
	                	<td>
	                		<%= f.text_field :rutEmpresa , :required => "required" , placeholder: 'Rut de la  empresa ' %>
	                	</td>
	            	</tr>
	                <tr>
	                	<td>
	                		<%= f.text_field :nombresPersona , :required => "required" , placeholder: 'Nombres del encargado'%>
	                	</td>
	            	</tr>
	            	<tr>
	                	<td>
	                		<%= f.text_field :apellidosPersona, :required => "required" , placeholder: 'Apllidos del encargado'%>
	                	</td>
	            	</tr>
	            	<tr>
	                 	
	                	<td><%= f.text_field :rutPersona , :required => "required" , placeholder: 'Rut del encargado '  %></td>
	            	</tr>
	            	<tr>
	                 	<td>
	                 		<%= f.email_field :emailPersona , :required => "required" ,placeholder: 'Email del encargado' %>
	                 	</td>
	                </tr>
	                <tr>
	                	<td>
	                		<%= f.password_field :pasword, :required => "required" , placeholder: 'Contraseña' %>
	                	</td>
	            	</tr>
	            	<tr>
	                	<td>
	                		<%= f.password_field :pasword_confirmation , :required => "required", placeholder: 'Repetir contraseña '%>
	                	</td>
	            	</tr>
	            	<tr>
	            		<td>
	            		<h6>
	            			<%=f.check_box :termino_de_uso, {},"yes","no"%>
	            			Acepto los  <%= link_to " Terminos de uso",controller: 'legal',action: 'terms'%> y  <%= link_to "Política de privacidad", controller: "legal",action: "privacy" %>
	            		</h6>
	            		</td>
	            	</tr>
	            </table>
	            <table class="col-xs-offset-5  col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
	            	<tr>
	            		<td>
	            		
	            		</td>
	            	</tr>
	            	<tr>
	            		<td>		
	                		<%= f.submit 'Únete ahora', :class=>"btn btn-success btn-block"%>	 
	            		</td>
	            	</tr> 
	    		</table>
	    	 <% end  %>	
	    </div>
    </div> 
</div>
<br><br><br>
<br><br><br>
<br><br><br>