<div class="formulario">
  <%= simple_form_for(@tipo, url: tipo_guardar_ok_path(), html: {class: "form-inline"}) do |f| %>
    <% if @tipo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tipo.errors.count, "error") %> prohibited this tipo from being saved:</h2>
        <ul>
        <% @tipo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group has-success has-feedback">
      <div class="field">
        <%= f.input_field :descripcion , :size=>"50x10", placeholder: 'Aqui va la descripcion que se quiere dar ...'%>
      </div>
      <div class="form-actions">
        <%= f.button :submit  ,'Guardar ', url: '?hola'%>
      </div>
    </div>
  <% end %>
</div>