<%@contador=11%>
<% @grado=Trubro.where("id not in (?,?,?,?,?,?,?,?,?,?)",@array[0],@array[1],@array[2] ,@array[3],@array[4],@array[5],@array[6],@array[7],@array[8],@array[9])%>
<%if @grado.blank?%>
  <h1>no  hay mas  Rubros disponible </h1>
<%else%>
<%= simple_form_for(@Rubro, url: create_rubro_path, html: {class: "form-inline"}) do |f| %>
        <% if @Rubro.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@Rubro.errors.count, "error") %> prohibited this user from being saved:</h2>
            <% @Rubro.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        <%end%>
          <div class="form-group">
          <%= f.input :trubro_id,:collection => @grado,:label_method => :descripcion,:value_method => :id,:label => "tipo de Rubro" ,:include_blank => false %> 
          </div
          <div class="form-actions">
          <%= f.button :submit, "Agregar", class:"btn btn-success  btn-block active" %>
          </div>
<%end%>
<br>
<%end%>

 <%= link_to "Inicio",tipo_perfil_path( tipo: "rubros" ), class:"btn btn-info  btn-block active"  %>