<h3><em><p class="text-info">Editar Perfil datos de la empresa  de <%= current_user.email %></p></em></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('conejito.jpg' , height: '100%', width: '100%')%>
      </div>
      <div class="col-md-6">
        <fieldset>
               <%= simple_form_for(@user, :url=>{:action=>:empresa}, :html=>{:method=>:put}) do |f| %>
                <%= f.error_notification %>
                <div class="form-group">
                  <%= f.input :email,label: 'Email de la empresa', required: true, autofocus: true ,placeholder: 'RedRabit@XXXX.xxx'%>
                  <%= f.input  :nombreEmpresa,label: 'Nombre de la empresa', required: true,placeholder: 'nombre de la Empresa' %>
                  <%= f.input  :rutEmpresa,label: 'Rut de la empresa', required: true,placeholder: 'rut de la Empresa' %>
                  <%= f.input :password,label: 'Password', required: true ,placeholder: 'Password'%>
                  <%= f.input :password_confirmation,label: 'password confirmation', required: true,placeholder: 'password_confirmation' %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Guardar", class:"btn btn-success  btn-block active" %>
                </div>
              <% end %>
        </fieldset>
       </div>
    </div>
</div>
