<div class="tipo">
	<% case params['tipo']%>
		<% when "empresa" %>
			<div class="page-header">
			  <h1>Datos  de la empresa</h1>
			</div>
			<div class="users">
			  	<p>
			       <%= @user.nombre_empresa %>
			       <br>
			       <%=@user.email%>
			       <br>
			       <%=@user.rut_empresa %>
			      <br>
			        <%=@user.grado.descripcion%>
			     </p>
			</div>
			<br>
			
			<%= link_to "Editar",editar_perfil_path(tipo: "empresa"), class:"btn btn-info  btn-block active"  %>
			
		<% when"encargado" %>
			<div class="page-header">
			  <h1>Datos  del encargado</h1>
			</div>
			 	<div class="users">
			 	   <p>
				       <%=@user.email_persona %>
				       <br>
				       <%=@user.apellidos_persona %>
				       <br>
				       <%=@user.nombres_persona%>
				       <br>
				       <%=@user.rut_persona %>
				       <br>
			      </p>
			  </div>
			<br>
			
			<%= link_to "Editar",editar_perfil_path(tipo: "encargado" ), class:"btn btn-info  btn-block active"  %>
			
		<% when "rubros" %>
			<div class="page-header">
			  <h1>Rubros</h1>
			</div>
			<hr>
			  <div class="users">
			  <p>
			  <%@contador=1%>
			  	<%@array=Array.new()%>
			  	<% @rubros.each do |rubros| %>
			  		<%=@contador%>
			  		.-
			  		<%=rubros.trubro.descripcion%>
			  		-->( 
			  		<%= link_to "cambiar",editar_perfil_path(tipo: "rubros" )%>
			  		)
			  		<%@array<< rubros.trubro%>
			  		<%@contador=@contador+1%>
			  		<br>
			  	<%end%>
			  	<%if @contador!=11%>
			  		<%@contador2=@contador%>
			  		<%while @contador2!=11 do %>
			  			<%@array<<0%>
			  			<%@contador2=@contador2+1%>
			  		<%end%>
				<%end%>
			  </p>
			  </div>
			<hr>
			<%if params["otro"]=="true"%>
				<%=render 'rubro'%>
			<%else%>

			<%end%>

			<%if @contador<=10%>
				 <%= link_to "Agregar otro rubros",tipo_perfil_path( tipo: "rubros" ,otro: true ), class:"btn btn-info  btn-block active"  %>
			<%else%>

			<%end%>
			 

		<% when "clave" %>
			<div class="page-header">
			  <h1>Cambio de clave</h1>
				</div>
				  <div class="users">
				      <p>
				       <%=@user.password%>
				      </p>
				  </div>
				<br>
				<%= link_to "Editar",editar_perfil_path(tipo: "clave"), class:"btn btn-info  btn-block active"  %>

		<% when "moderador" %>
			
			<%= render 'formulario' %>

		<% when "aministrador" %>

			<%= render 'formulario' %>

		<% else %>
		<h1>Error</h1>
	<% end %>
</div>