<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%  if  user_signed_in? %>
        <%case current_user.tipo_id %>
        <%when 1 %>
          <%=link_to "RedRabbit", "/", class:"navbar-brand"  %>
          <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to 'Nueva idea', nueva_idea_path , class:"btn btn-success" %>
              </li>
              <li class="active">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">
                    mi ideas <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li> 
                      <%= link_to "activa ",mi_idea_path( tipo: "activa" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "denunciada  ",mi_idea_path( tipo: "denunciada" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "revision de las postulacion ", mi_idea_path( tipo: "revision" ) , class:"btn btn-info" %> 
                    </li> 
                     <li>
                      <%= link_to "eliminada ", mi_idea_path( tipo: "eliminada" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "apelacion ", mi_idea_path( tipo: "apelacion" ), class:"btn btn-info" %> 
                    </li>
                    <hr>
                    <li>
                      <%= link_to "mi idea lista", mi_idea_path(tipo: "mi_idea_lista"), class: "btn btn-info" %>
                    </li>
                    <li>
                      <%= link_to "adquiridas" , mi_idea_path(tipo: "adquiridas"), class: "btn btn-info"%>
                    </li>
                  </ul>
                </div>
              </li>
          </ul>
          <ul class="nav navbar-nav pull-right"> 
              <li class="active">          
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">
                    Configuracion <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li> 
                      <%= link_to "Datos de la empresa ",tipo_perfil_path( tipo: "empresa" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "Datos del encargado  ",tipo_perfil_path( tipo: "encargado" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "Rubros ", tipo_perfil_path( tipo: "rubros" ) , class:"btn btn-info" %> 
                    </li>
                     <li>
                      <%= link_to "Cambio de clave ", editar_perfil_path( tipo: "clave" ), class:"btn btn-info" %> 
                    </li>
                    <li>
                      <%= link_to "Cambiar foto de perfil" , subir_foto_de_perfil_path, class: "btn btn-info"%>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Cerrar Sesi贸n", destruiry_path,  class:"btn btn-danger"  %>
                    </li>
                  </ul>
                </div>
              </li>
          </ul>
        <%when 2%>
          <%=link_to "RedRabbit", '/', class:"navbar-brand"  %>
           <ul class="nav navbar-nav">
              <li class="active">
              </li>
          </ul>
          <ul class="nav navbar-nav pull-right"> 
              <li class="active">          
                <%= link_to "Cerrar Sesi贸n", destruiry_path,  class:"btn btn-danger"  %>
              </li>
          </ul>
        <%when 3%>
          <%=link_to "RedRabbit", inicio_path, class:"navbar-brand"  %>
          <ul class="nav navbar-nav pull-right"> 
              <li class="active">          
                <%= link_to "Cerrar Sesi贸n", destruiry_path,  class:"btn btn-danger"  %>
              </li>
          </ul>
        <%else%>
          <h1>Error</h1>
        <%end%>
      <% else %>
        <div class="row">
          <div class="col-md-10">
           <ul > 
              <li>
               <%= link_to "Iniciar Sesi贸n", login_path , class: "btn btn-success   btn-block active"%>
            </li>
          </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>