<!DOCTYPE html>
<html>
  <head>
    <title>Redes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navegacion">
    <%=render 'layouts/navegacion' %>
  </div>
  <div class="mensaje">
    <%= render 'layouts/mensajes'%>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="pie_de_pagina"> 

  </div>
  </body>
</html>
