
<!DOCTYPE html>
<html>
  <head>
    <title>Redes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%=link_to "RedRabit", '/welcome/index', class:"navbar-brand"  %>
      <%  if  user_signed_in? %>
      <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to 'Nueva Idea', nueva_idea_path , class:"btn btn-success" %>
          </li>
      </ul>
      <ul class="nav navbar-nav pull-right"> 
          <li class="active">
            <%= link_to current_user.nombre_completo, editar_path , class:"btn btn-info" %>
          </li>
            <li class="active">
            <%= link_to "log out", destroy_user_session_path,  class:"btn btn-danger",  method: :get  %>

          </li>
      </ul>
      <% else %>
      <div class="row">
        <div class="col-md-10">
         <ul > 
            <li>
             <%= link_to "Iniciar Sesión", login_path , class: "btn btn-success   btn-block active"%>
          </li>
        </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container">
  <% if flash[:notice]  %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" arial-hidden="true">
        x
    </button>
    <%= flash[:notice] %>
  </div>
  <%end%>
  <% if flash[:alert]  %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" arial-hidden="true">
        x
    </button>
    <%= flash[:alert] %>
  </div>
  <%end%>
  <%= yield %>
  </body>
</html>
