<!DOCTYPE html>
<html>
  <head>
    <title>Redes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      </head>
  <body>
    <%  if  user_signed_in? %>
      <div class="container">
      <div class="row">
        <div class="navegacion">
          <div class="col-md-12"> 
             <%=render 'layouts/navegacion' %>
          </div>
        </div>

        <div class="mensaje">
          <div class="col-md-12"> 
            <%= render 'layouts/mensajes'%>
          </div>
        </div>
        
       <div class="barra_de_informacio">
          <div class="col-md-2"> 
           
          </div>
        </div>

        <div class="principal">
          <div class="col-md-8"> 
            <%= yield %>
          </div>
        </div>

        <div class="barra_de_publicidad">
          <div class="col-md-2"> 
           
          </div>
        </div>
     <div class="row">
     <div class="pie_de_pagina"> 
        <div class="col-md-12">
            
            <%=render "layouts/pie"%>
        </div>
      </div>
    </div>
    <%else%>
      <div class="principal">
          <div class="col-md-12"> 
            <%= yield %>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  </body>
</html>
