
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('conejito.jpg' , height: '100%', width: '100%')%>
      </div>
      <div class="col-md-6">
        <fieldset>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-inline"}) do |f| %>
                 <%= f.error_notification %>
                  <div class="form-group">
                    <%= f.input :email,label: 'Email de la empresa', required: true, autofocus: true ,placeholder: 'RedRabit@XXXX.xxx'%>
                    <%= f.input :password,label: 'Password', required: true ,placeholder: 'Password'%>
                    <%= f.input :password_confirmation,label: 'password confirmation', required: true,placeholder: 'password_confirmation' %>
                    <%= f.input  :nombreEmpresa,label: 'Nombre de la empresa', required: true,placeholder: 'nombre de la Empresa' %>
                    <%= f.input  :rutEmpresa,label: 'Rut de la empresa', required: true,placeholder: 'rut de la Empresa' %>
                    </div>
                    <div class="form-group">
                    <%= f.input  :emailPersona,label: 'Email de la perdona', required: true,placeholder: 'email de la Persona' %>
                    <%= f.input  :apellidosPersona,label: 'Apellido de la persona', required: true,placeholder: 'apellidos de la Persona' %>
                    <%= f.input  :nombresPersona, label: 'Nombre de la persona',required: true,placeholder: 'nombres de la Persona' %>
                    <%= f.input  :rutPersona,label: 'Rut de la persona ', required: true,placeholder: 'rut de la Persona' %>
                    </div>
                    <div class="form-group">
                    <% @grado=Grado.all %>
                    <%= f.input :grado_id,:collection => @grado,:label_method => :descripcion,:value_method => :id,:label => "tipo de empresa" ,:include_blank => false %> 
                    </div
                  <div class="form-actions">
                    <%= f.button :submit, "Guardar", class:"btn btn-success  btn-block active" %>
                  </div>
                <% end %>
        </fieldset>
       </div>
    </div>
</div>
