<div id=datos>
  <div class="container">
    <div class="col-md-5">

    <%= simple_form_for(resource, as: resource_name, url: login_error_path) do |f| %>
    <%= f.error_notification %>
            <div class="formulario_posi">
              <h1>Iniciar Sesi칩n</h1>   
                <%= f.input :email, autofocus: true , label: "Email de la empresa" %>
                <div  id="error_email" class="errores">
                  <span>Error en el formato</span>
                </div>
                <div id="formato_email">
                  <span> formato  <br> Email<br>xxx@xxx.xx
                  </span>
                </div>
                <div id="formulario_passw">
                <%= f.input :password, label: "Contrase침a"  %>
                </div>
                <div  id="error_password" class="errores">
                  <span>Error en el formato</span>
                </div>
                <div id="formato_error">
                  <span> formato  <br> 6 a 18 caracteres <br>Alfanumericos
                  </span>
                </div>
              <% if devise_mapping.rememberable? -%>
                <div>
                  <%= f.input_field :remember_me,  inline_label: 'Recordar usuario y contrase침a' ,as: :boolean %>
                </div>
              <% end -%>
              <div class="actions">
              <br>
                <%= f.button :submit ,"Iniciar Sesi칩n" ,id: "bEnviar", class: "botones"%>
              </div>
          </div>
    <% end %>

    </div>

    <div class="col-md-1">
            <div class="texto_vertical">
              <h2>
                <a href="/registrar_user">
                  R<br>E<br>G<br>I<br>S<br>T<br>A<br>R
                </a>
              </h2>
            </div>
    </div>
  </div>
</div>